:root {
    --bg-primary: #07101a;
    --bg-secondary: #081421;
    --bg-input: #092131;
    --text-primary: #e6eef6;
    --text-secondary: #cfe6ff;
    --text-tertiary: #d8eefc;
    --border-primary: #133045;
    --border-secondary: #123246;
    --border-tertiary: #274e63;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
